* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: black;
}
.wrapper {
    background-color: white;
    width: 400px;
    margin: auto;
    padding: 20px;
}
.base {
    background-color: rgb(32, 99, 143);
    padding: 10px;
    

    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

    &__center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            padding: 5px;
        }
    }

    .base-town {
        padding-bottom: 10px;
        
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        
    }
}

.bottom {
    &__item {
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid rgb(32, 99, 143);
    .left {
        margin-right: 50px;
        display: block;
    }
    }
}
img {
    height: 55px;
}
.base__bottom-speed {
    padding-right: 6px;
}
.base__bottom-text {
    padding-left: 6px;}

  